.nav{
    border: 1px solid #840d23;
    background-color: #840d23;
    height: 170px;
    min-height: 170px;
    max-height: 180px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.518);
}

.centralize-nav-divs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

.logo-div{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.nav-list{
    width: 140%;
}

.nav-list > li {
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
}

.logo{
    width: 200px;
}

#contato{
    margin-right: 140px;
}