.nav{
    border: 1px solid #840d23;
    background-color: #840d23;
    height: 150px;
    max-height: 150px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.518);
}

.centralize-nav-divs{
    display: flex;
    align-items: center;
    color: #fff;
}

.centralize-nav-divs > li > a {
    margin-left: 9rem;
}

.logo-div{
    width: 61.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    width: 140%;
}

.nav-list > li {
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
}

.logo{
    width: 150px;
    margin: 5px 0 5px 0;
}

#contato{
    margin-right: 140px;
}


@media only screen and (max-width: 1420px){
    .centralize-nav-divs{
        display: flex;
        align-items: center;
        color: #fff;
        justify-content: space-between;
    }

    .centralize-nav-divs > li > a {
        margin-left: 0rem;
    }
}