.SideBar{
    display: flex;
    flex-direction: column;
    min-width: 17.5rem;
    background-color: #fff;
    height: 100%;
    position: fixed;
    z-index: 1;
    box-shadow: 0 0 2rem 0 #00000021;
}   