.card-pizza-main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 86%;
}

.card-pizza{
    margin: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 550px;
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
    font-size: .85rem;
    line-height: 1rem;
    font-weight: lighter;
}

.imagem-card-pizza{
    width: 350px;
    height: 250px;
}

.nome-pizza{
    font-weight: bold;
    margin: 5px;
}

.sabores{
    color: rgb(104, 104, 104);
    margin: 0px 0 0 5px;
}

.spinner-card-pizza{
    display: flex;
}

.main-cardapio > .spinner-card-pizza{
    align-items: center;
    justify-content: center;
    margin-top: 170px;
}